/* color variables */

:root {
    --white: #ffffff;
    --black: rgba(48, 48, 48, 1);
    --azure: rgba(0, 132, 253, 1);
    --baby-blue: rgba(181, 221, 255, 1);
    --magenta: rgba(151, 146, 228, 1);
    --ocre: rgba(253, 193, 95, 1);
    --footer-dark: rgba(51, 51, 51, 1);

}

/* UTILITIES */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 0.1rem solid red;
}

img {
    width: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 1.5rem;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

/* GENERAL */

body {
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
}

/* HEADER */

header {
    background-color: var(--azure);
}

header div {
    padding: 1.5rem 2.5rem;
}

header span i {
    color: var(--white);
}

header span:hover .hamburger-menu {
    display: inline-block;
}

.hamburger-menu {
    list-style-type: none;
    color: var(--white);
    list-style-type: none;
    padding: 1rem;
    display: none;
}

header span ul li a {
    text-decoration: none;
    color: var(--black);
}

.btn {
    background-color: var(--white);
    border: none;
    border-radius: 3rem;
    height: 2.5rem;  
    font-weight: bold;
    cursor: pointer;
}


/* MAIN */

/* SYNTHESIS SECTION */

.card-synthesis {
    width: 100%;
    background-color: var(--baby-blue);
    border-radius: 1rem;
}

#synthesis .container .card-synthesis h2 {
    color: var(--azure);
}

#synthesis .container .card-synthesis button {
    background-color: var(--azure);
    color: var(--white);
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 3rem;
    letter-spacing: 0.2rem;
    border: none;
    cursor: pointer;
}

/* PLANNING SECTION */

#planning {
    background-color: var(--magenta);
}

/* PARTNERS SECTION */



/* BENEFITS SECTION */

#benefits {
    background-color: var(--magenta);
}

/* ABOUT US SECTION */



/* CALL TO ACTION SECTION */

.cta {
    background-color: var(--magenta);
}


/* FOOTER */

footer {
    background-color: var(--footer-dark);
}