                         /* UTILITIES */

/* color variables */

:root {
    --white: #ffffff;
    --black: rgba(48, 48, 48, 1);
    --azure: rgba(0, 132, 253, 1);
    --baby-blue: rgba(181, 221, 255, 1);
    --magenta: rgba(151, 146, 228, 1);
    --ocre: rgba(253, 193, 95, 1);
    --footer-dark: rgba(51, 51, 51, 1);
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debub utility */

.debug {
    border: 0.1rem solid red;
}

                            /* GENERAL */

body {
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;
}

/* button like general layout */

.btn {
    border: none;
    padding: 1rem 2rem;
    border-radius: 3rem;
    height: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

/* images */

img {
    width: 100%;
    display: block;
}

/* display flex classes */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.container-1000 {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

                            /* HEADER */

header {
    background-color: var(--azure);
    color: var(--white);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav {
    padding: 1.5rem 2.5rem;
}

header nav ul li {
    margin: 0 0.6rem;
}

header nav ul li:first-child {
    margin-left: 0;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    text-decoration: none;
    color: var(--white);
}

header span i {
    color: var(--white);
}

header span:hover .hamburger-menu {
    display: inline-block;
}

.hamburger-menu {
    display: inline-block;
}

.open {
    list-style-type: none;
    color: var(--white);
    list-style-type: none;
    padding: 1rem;
    display: none;
}

header span ul li a {
    text-decoration: none;
    color: var(--black);
}

.btn-nav {
    background-color: var(--white);
    color: var(--black);
}

.btn-azure {
    background-color: var(--azure);
    color: var(--white);
    letter-spacing: 0.2rem;
}

                            /* MAIN */

/* SYNTHESIS SECTION */

#synthesis {
    padding: 2.5rem;
}

.card-synthesis {
    width: 100%;
    background-color: var(--baby-blue);
    line-height: 140%;
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
}

.card-synthesis:first-child {
    padding-bottom: 0;
}

.card-synthesis img {
    padding-top: 3rem;
    display: block;
}

.card-synthesis h3 {
    color: var(--azure);
    text-align: left;
    font-size: 2rem;
    text-align: center;
}

.card-synthesis h3:not(:first-child) {
    padding-bottom: 1.5rem;
}

.card-synthesis p {
    text-align: center;
}

.card-synthesis .text-card p {
    padding: 1.5rem 0 3rem 0;
}

.card-synthesis .text-card h3,
.card-synthesis .text-card p {
    text-align: left;
}

.icon-big {
    color: var(--azure);
    font-size: 7rem;
    text-align: center;
    padding: 2rem 0;
}

/* PLANNING SECTION */

#planning {
    background-color: var(--magenta);
    padding: 6rem 2rem;
}

#planning .card-planning:first-child {
    color: var(--white);
}

#planning .card-planning:first-child p {
    line-height: 160%;
    padding-bottom: 2rem;
}

.card-planning h2 {
    font-size: 3rem;
    padding: 6rem 0 2.5rem 0;
}

#planning h4 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

#planning .card-planning:last-child {
    background-color: var(--white);
    border-radius: 2.5rem;
    padding-bottom: 1.5rem;
}

#planning .card-planning:last-child img {
    padding: 2rem 2rem;
}

#planning .card-planning:last-child p {
    text-align: center;
    padding: 0 2rem 3rem 2rem;
}

.arrow-planning {
    background-color: var(--magenta);
    color: var(--black);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    margin: 0 auto;
}

/* TESTIMONIALS SECTION */

#testimonials {
    padding: 2.5rem;
}

.testimonials-text {
    text-align: center;
    padding-bottom: 2rem;
}

.testimonials-text h3 {
    color: var(--magenta);
    font-size: 2rem;
    padding: 1rem 0;
}

.testimonials-text h5 {
    font-weight: 400;
}

.card-testimonial {
    background-color: var(--magenta);
    color: var(--white);
    border-radius: 5rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
}

.card-testimonial img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 1.5rem 0;
}

.card-testimonial p {
    padding-bottom: 1.5rem;
}

.card-testimonial .fa-quote-left {
    padding-right: 0.5rem;
}

.card-testimonial .fa-quote-right {
    padding-left: 0.5rem;
}

.testimonial-card-text {
    padding: 0 1.5rem;
}

/* BENEFITS SECTION */

#benefits {
    background-color: var(--magenta);
    padding: 2.5rem;
}

#benefits .container > h2 {
    color: var(--white);
    padding-bottom: 2.5rem;
    font-size: 3.5rem;
    text-align: center;
}

.card-benefit {
    width: 100%;
    background-color: var(--white);
    padding: 2rem 3rem;
    line-height: 140%;
    border-radius: 1rem;
    margin-bottom: 2rem;
    text-align: left;
}

.card-benefit h2,
.card-benefit h3 {
    color: var(--magenta);
}

.card-benefit h2 {
    font-size: 4rem;
    padding: 1rem 0 3rem 0;
}

.card-benefit h3 {
    font-size: 2rem;
}

.card-benefit p {
    padding: 3rem 0;
    color: grey;
    font-size: 1.5rem;
}

.btn-magenta {
    background-color: var(--magenta);
    color: var(--white);
    letter-spacing: 0.2rem;
}

/* ABOUT US SECTION */

#about-us {
    padding: 4.5rem 1.5rem 7rem 1.5rem;
    line-height: 160%;
}

#about-us h2 {
    padding-bottom: 4rem;
    color: var(--magenta);
    font-size: 4.5rem;
}

#about-us p {
    color: gray;
}

.text-about-us,
.image-about-us {
    padding: 0.5rem;
}

.container-image-about-us {
    position: relative;
    width: 200px;
    height: 200px;
}
.container-image-about-us i {
    position: absolute;
    top: -1rem;
    right: -1rem;
    color: var(--magenta);
    font-size: 4rem;
}

.image-about-us i {
    padding-right: 0.5rem;
}

.container-image-about-us img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 1.5rem 0;
}

.image-about-us h3 {
    color: var(--magenta);
    font-size: 3rem;
    line-height: 140%;
    padding-bottom: 2.5rem;
}
.image-about-us a {
    letter-spacing: 0;
}

/* CTA aka CALL TO ACTION SECTION */

#cta {
    background-color: var(--magenta);
    color: var(--white);
    padding: 2.5rem;
    text-align: center;
}

#cta h5 {
    font-size: 1.1rem;
    padding: 3rem 0 1.5rem 0;
    font-weight: 200;
}

#cta h3 {
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

.free-orange {
    color: var(--ocre);
    font-size: 6rem;
    font-weight: bold;
}

#cta p {
    font-size: 1.4rem;
    line-height: 140%;
    margin: 3rem 0;
}

#cta button {
    background-color: var(--white);
    color: var(--magenta);
    width: 16.5rem;
    height: 4rem;
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    margin-bottom: 2.5rem;
}

#cta i {
    font-size: 0.4rem;
    margin-right: 0.5rem;
}

#cta a {
    color: var(--white);
}


                        /* FOOTER */

footer {
    background-color: var(--footer-dark);
    color: var(--white);
}

footer a {
    color: var(--magenta);
}

footer .container-1000 {
    padding: 4rem;
    text-align: center;
}

footer .container-1000 div {
    padding-top: 6rem;
}


                        /* RESPONSIVE DESIGN */

/* TABLET */

@media screen and (min-width:768px) {

    #synthesis div {
        justify-content: space-between;
    }

    #synthesis .container {
        gap: 1rem;
        align-items: stretch;
    }

    .card-synthesis {
        width: calc((100% - 2rem) / 3);
    }

    .card-synthesis:first-child {
        width: calc((100% - 1rem) / 3 * 2);
    }

    .card-testimonial {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #benefits .container div.flex {
        gap: 2rem;
    }

    #benefits .container .card-benefit {
        width: calc((100% - 2rem) / 2);
    }

    .text-about-us {
        width: 65%;
        padding-right: 5rem;
    }

    .image-about-us {
        width: 35%;
    }

}

/* DESKTOP */

@media screen and (min-width:992px) {

    /* nav */

    .hamburger-menu {
        display: none;
    }

    .open {
        display: flex;
    }

    /* section 1 */

    .card-synthesis img {
        width: 30%;
    }

    .text-card {
        width: 70%;
    }

    .card-synthesis:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    /* section 2 */

    #planning div.justify-between {
        display: flex;
        gap: 5rem;
    }

    #planning,
    #benefits,
    #testimonials {
        padding-bottom: 1rem;
    }

      /* section 4 */

    #benefits .container .card-benefit {
        width: calc((100% - 4rem) / 3);
    }

}